@import "../modules/base";
/*Site Header*/
.blog-header{
    @include px-to-rem(padding, 20px 0);
    @include px-to-rem(margin-bottom, 40px);
    line-height:1;
    
    .container{
        position: relative;

        &:before{
            content:'';
            display:block;
            position: absolute;
            height: 1px;
            background: $border-color;
            @include px-to-rem(left, $container-padding);
            @include px-to-rem(right, $container-padding);
            @include px-to-rem(bottom, -20px);
        }
    }

    &.single-post{
        margin-bottom:0;      
    }
}

@media (min-width:em(1296)){
    .blog-header{
        .container{
            padding:0;
            &:before{
                left:0;
                right:0;
            }
        }
    }
}
/*Header Logo*/
.logo{
    float:left;
    @include px-to-rem(width, 110px);
    @include px-to-rem(height, 36px);
    @include hide-text;
    background-image:url(../img/logo.svg);
    background-position:left center;
    background-repeat:no-repeat;

    &.logo-blog{
        @include px-to-rem(width, 70px);
        background-image:url(../img/logo-blog-small.svg);
    }
}
@media(min-width:em(480)){
    .logo{
        &.logo-blog{
            @include px-to-rem(width, 156px);
            background-image:url(../img/logo-blog.svg);
        }
    }
}
.no-svg{
    .logo{
        background-image:url(../img/logo.png);
        &.logo-blog{
            background-image:url(../img/logo-blog.png);
        }
    }
}

/*Header Menu*/
.menu{
    float:right;
    margin:0; padding:0;
    font-size: 0;

    li{
        @include px-to-rem(margin, 0 0 0 20px);
        display: inline-block;
        @include font-size(18px);

        &:first-child{
            @include px-to-rem(margin-left, 10px);
        }

        &:before{
            display:none;
        }
    }
    a{
        display:block;
        @include px-to-rem(height, 36px);
        @include px-to-rem(line-height, 40px);
        white-space:nowrap;
        font-family:$font-semibold;
        font-weight:600;
        text-decoration:none;
        color:$text-color;
        &:hover,
        &:active{
            color:$primary;
        }
    }
}

@media (min-width:$breakpoint){
    .menu{
        li{
            @include px-to-rem(margin, 0 0 0 40px);
        }
    }
}

/*Header Social*/
.social{
    float:right;
    font-size: 0;
    margin: 0;
    padding:0;
    
    li{
        @include px-to-rem(margin, 0 0 0 10px);
        display: inline-block;
        @include font-size(16px);
        
        &:first-child{
            margin-left:0;
        }

        &:before{
            display:none;
        }
    }
    
    a{
        display:block;
        @include px-to-rem(height, 36px);
        @include px-to-rem(line-height, 36px);
        color:$text-color;
        &:hover,
        &:active{
            color:$primary;
            text-decoration: none;
        }
    }
    [class^="icon-"]:before, [class*=" icon-"]:before{
        margin:0;
    }
}


/*Header button*/
.header-button{
    @extend .button;
    @extend .button-primary;
    @include px-to-rem(margin, 0 0 0 50px);
    float:right;
    display:none;
}


@media(min-width:$breakpoint){
    .header-button{
        display:block;
    }
}
