@import "../modules/base";

/*Product Page*/
.product{
    max-width:em(944);
    margin:0 auto;
}
.product__title{
    font-family:$font-semibold;
    font-weight:600;
    line-height:1.25;
    text-align:center;
}
.product__title--h1{
    @include font-size(36px);  
}
.product__title--h2{
    @include font-size(30px);
}
.product__subtitle{
    @include px-to-rem(margin-bottom, 50px);
    font-family:$font-regular;
    font-weight:400;
    @include font-size(20px);
    line-height:1.5;
    text-align:center;
}

@import "product/_signup-form.scss";
@import "product/_hero.scss";
@import "product/_quote.scss";
@import "product/_product-img.scss";