@import "base";
html,
button,
input,
select,
textarea {
    color: $text-color;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}




/* Base Styles */

html {
    height:100%;
    font-size: 100%; }
body {
  line-height: 1.5;
  font-weight: 300;
  font-family: $font-main, Helvetica, Arial, sans-serif;
  color: $text-color;
}

/* Typography */
h1, h2, h3, h4, h5, h6, .title-h1, .title-h2, .title-h3 {
  margin-top: 0;
  @include px-to-rem(margin-bottom,20px);
  font-family: $font-alt-medium;
  font-weight: 500;
  line-height:1.25;
}
h1, .title-h1{
    @include font-size(30px);
    line-height: 1.2;
}
h2, .title-h2 {
    @include font-size(24px);
}
h3, .titile-h3 {
    @include font-size(20px);
}
h4, h5, h6 {
    @include font-size(18px);
}


.title-h1,
.title-h2,
.title-h3{
    display: block;
}


p {
  margin-top: 0; }

strong,
b{
    font-family:$font-semibold;
    font-weight:600;
}
/* Links */
a {
  color: $primary;
  text-decoration:none;
}
a:hover {
  //color: darken($primary, 10%);
  color:#263972;
  text-decoration:underline;
}

/* Lists */
ul {
    list-style: none;
    @include px-to-rem(padding-left, 30px);
    margin-top:0;

    li{
        position:relative;

        &:before{
            content:'';
            display:block;
            position:absolute;
            width:4px; height:4px;
            background:#c3bcac;
            border:1px solid #897e64;
            border-radius:50%;
            @include px-to-rem(left, -20px);
            @include px-to-rem(top, 9px);
        }
    }
}
ol {
    list-style: decimal inside;
    @include px-to-rem(padding-left, 15px);
    margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
    @include px-to-rem(margin, 15px 0 15px 30px);
}
li {
    @include px-to-rem(margin-bottom,10px);
}
/* Blockquote */
blockquote{
    @include font-size(18px);
    margin-left:0;
    @include px-to-rem(padding, 0 0 0 15px);
    line-height:1.6;
    font-family: $font-italic;
    font-style: italic;
    border-left:2px solid $primary;
    color:$primary;
    span{
        display:block;
        @include font-size(12px);
    }
}

/* Code */
code {
    @include px-to-rem(padding, 2px 5px);
    @include px-to-rem(margin, 0 2px);
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    @include px-to-rem(border-radius, 4px);
}
pre > code {
  display: block;
  @include px-to-rem(padding, 10px 15px);
  white-space: pre;
}

/*Figure*/
figure{
    margin:0;
    padding:0;
}
figcaption{
    @include px-to-rem(padding-top, 10px);
    text-align:center;
    color:#bbb;
    font-family:$font-alt-regular;
}

/* Spacing */
button,
.button {
    @include px-to-rem(margin-bottom, 10px);
}
input,
textarea,
select,
fieldset {
    @include px-to-rem(margin-bottom, 15px);
}
pre,
blockquote,
form,
dl,
figure,
table,
p,
ul,
ol,
form {
    @include px-to-rem(margin-bottom, 25px);
}

/* Misc */
hr {
    @include px-to-rem(margin-top, 30px);
    @include px-to-rem(margin-bottom, 35px);
    border-width: 0;
    border-top: 1px solid $border-color;

    &.alt{
        @include px-to-rem(margin-top, 50px);
        @include px-to-rem(margin-bottom, 50px);
    }
}

/* Transitions */
a, button, input[type="button"], input[type="submit"],
#{$all-text-inputs}, select, textarea{
    @include transition-property(border-color,color,background-color);
    @include transition-duration(.2s);
    @include transition-timing-function(ease-in);
}



/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix{
    @include clearfix;
}
.lt-ie9 .clearfix{
    @include clear-fix;
}
